.menu-container {
    width: 99, 01vw;
    margin: 100vh 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-container-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: -1;
    background: url(raw_data/bg2.png);
    background-repeat: repeat-y;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.portion {
    width: 100%;
    text-align: center;
}

.card {
    position: relative;
    margin: 1vw;
    width: 33vw;
    display: inline;
    overflow: hidden;
}

.card~.card~.card .card-header {
    border-top: 2px dotted #151515;
    padding-top: 1vw
}

.card-header {
    display: flex;
    height: 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: left;
}

.card-header-left {
    margin-right: 1vw;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
}

.card-header>ul {
    padding: 0;
    font-size: 1.2rem;
    margin-top: 0;
    width: 47%;
    font-family: "Indie Flower";
    letter-spacing: 5px;
    font-weight: 400;
    margin: 0;
    text-transform: none;
}

h5 {
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 2000px;
    color: #002c5d;
}

.divider-line {
    width: 40%;
    height: 1.5vw;
    margin: 5px auto 0 0;
    background-color: #002c5d;
}

.card>img {
    width: 100%;
    height: 26.5vw;
    border-radius: 0 2vw 4vw 4vw;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 85vw;
    }

    .card>img {
        width: 100%;
        height: 50.5vw;
    }

    .card-header {
        height: 34vw;
    }

    .card-header>ul {
        font-size: 3.5vw;
    }

    h5 {
        font-weight: 600;
        font-size: 3.8vw;
        line-height: 1.2;
    }

    .card~.card .card-header {
        border-top: 2px dotted #151515;
        padding-top: 1vw
    }
}